# VS Code settings
.vscode/

# Virtual environment
venv/

# Python cache
__pycache__/

# Databases
training_db

# Personal data
fit_to_csv.py
training_plan.xlsx

# Source data folders
fit_converted/
garmin_connect_export/
watch_export/